<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Espacios comunes</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!--DATATABLE RESPONSIVE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
    <!-- DATATABLE BUTTONS CSS     -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'core/css/whatsapp.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/Tarjetas.css' %}">
        

</head>
<!-- NAV -->
{% block content %}
{% include 'nav_bar.html'%}
{% endblock %}
<!-- FIN NAV -->


<Style>
    body {
        background-image: url("{% static 'core/img/Condominio2.jpg'%}");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 80px; /* Ajusta este valor según la altura de tu navbar */
        overflow-x: hidden;
        

        }
    .right {
        text-align: right !important;
    }

    .a {
        text-decoration: none !important;
    }

    .top {
        top: 0;
        height: 100vh;
        background-color: black;
        display: grid;
        place-items: center;
        transition: .4s;
    }

    .close {
        top: 5em;
        left: 70%;
    }

    .translate {
        transform: translateY(-100%);
    }

    

</Style>



{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function evaluarPostulacion(id) {
        Swal.fire({
            "title": "¿Desea rechazar la postulación?",
            "text": "Enviaras un correo al postulante con la no aceptación de su postulación",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, rechazar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "http://127.0.0.1:8000/EvaluarPostulacion/" + id + "/"
                }
            })
    }
</script>


<script>
    function cancelarResEspacioComun(id) {
        Swal.fire({
            "title": "¿Deseas cancelar esta reserva?",
            "text": "La reserva quedara con estado 'Cancelado'",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    // Cambiar a un método POST para eliminar el espacio
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = "http://127.0.0.1:8000/cancelarReservaEspacioComun/" + id + "/";
                    const csrfToken = '{{ csrf_token }}'; // Asegúrate de que estás pasando el token CSRF correctamente
                    const csrfInput = document.createElement('input');
                    csrfInput.type = 'hidden';
                    csrfInput.name = 'csrfmiddlewaretoken';
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);
                    document.body.appendChild(form);
                    form.submit(); // Enviar el formulario
                }
            });
    }

    function habilitarEspacioComun(id) {
        Swal.fire({
            "title": "¿Deseas habilitar este Espacio Comun?",
            "text": "El espacio comun quedara con estado 'Eliminado'",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    // Cambiar a un método POST para eliminar el espacio
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = "http://127.0.0.1:8000/cancelarReservaEspacioComun/" + id + "/";
                    const csrfToken = '{{ csrf_token }}'; // Asegúrate de que estás pasando el token CSRF correctamente
                    const csrfInput = document.createElement('input');
                    csrfInput.type = 'hidden';
                    csrfInput.name = 'csrfmiddlewaretoken';
                    csrfInput.value = csrfToken;
                    form.appendChild(csrfInput);
                    document.body.appendChild(form);
                    form.submit(); // Enviar el formulario
                }
            });
    }
</script>

{% endblock %}

<body>

    <!-- ----------------------- -->

    <!-- BOTON AGREGAR TALLER -->
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="container my-3 bg-dark text-white rounded-3">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-light fs-3 mb-0 mx-auto text-center">Solicitud y estado de reserva
                        
                    </p>
                    <i class="fas fa-question-circle" style="color: white; font-size: 28px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#helpModal"></i>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- TABLA -->
    <div class="container md-6">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title">
                    <div class="table-responsive text-end">

                        <button class="btn btn-primary">
                            <a class="a text-light fs-6" href="http://127.0.0.1:8000/crear_res_espacio_comun">
                                Solicitar reserva
                            </a>
                        </button>

                        <div class="container mt-4"> 
                            <table id="myTable" class="display nowrap dt-responsive text-start" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">Descripcion</th>
                                        <th style="width:10%;">fecha</th>
                                        <th style="width:10%;">hora</th>
                                        <th style="width:10%;">Estado</th>
                                        <th style="width:10%;">Residente</th>
                                        <th style="width:10%;">Editar</th>
                                        <th style="width:10%;">Reserva</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
    
                                    {% for rec in res_espacio_comun %}
                                    <tr>
                                        <td>{{rec.descripcion}}</td>
                                        <td>{{rec.fecha}}</td>
                                        <td>{{rec.hora}}</td>
                                        <td>{{rec.estado_reserva.descripcion}}</td>
                                        <td>{{rec.id_residente.nombre}}</td>
                                        <td>
                                            <a class="dropdown-item action-item fw-bold" 
                                            href="http://127.0.0.1:8000/modificar_res_espacio_comun/{{rec.id_reserva_esp_comun}}">
                                            Editar Reserva
                                            </a> 
                                        </td>
                                        <td>    
                                            {% if rec.estado_reserva.descripcion == "Cancelado" %}
                                                        <a class="dropdown-item action-item text-danger fw-bold" href="#" onclick="cancelarResEspacioComun({{ rec.id_reserva_esp_comun }})" disabled>
                                                                Reserva Cancelada
                                                            </a>
                                                        
                                                        {% else %}
                                                        <a class="dropdown-item action-item text-success fw-bold" href="#"
                                                        onclick="cancelarResEspacioComun({{ rec.id_reserva_esp_comun }})">
                                                                Cancelar reserva
                                                            </a>
                                                        </button>
                                                        {% endif %}
                                                  
                                        </td>  


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="whatsapp-button" class="whatsapp-float">
        <a href="https://api.whatsapp.com/send?phone=56949052463&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Risi.cl." class="floatWapp" target="_blank">
          <img src="{% static 'core/img/WhatsApp.svg.webp' %}" alt="Chatea con nosotros" class="whatsapp-icon">
          
        </a>
        <button class="close-btn" onclick="closeWhatsAppButton()">×</button>
      </div>  


  <!-- Modal de ayuda -->
  <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white"> <!-- Cambia bg-primary por el color que desees -->
                <h5 class="modal-title text-center" id="helpModalLabel">
                    <i class="fa-solid fa-users-gear me-2"></i> Fun Ayuda - Descripcion de funcionalidad
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 ms-auto">
                        <div class="card w-75">
                            <div class="card-body">
                              {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                              <p class="card-text">
                                <img src="{% static "core/img/Solicitar_reserva_bt.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-auto me-3">
                        <div class="card w-90">
                            <div class="card-body">
                              <h5 class="card-title">Descripcion Botón Solicitar Reserva</h5>
                              <p class="card-text">Al dar clic sobre este botón, el sistema abrirá una nueva ventana que contiene un formulario, el que permite ingresar los datos necesarios para solicitar una reserva de espacio común.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-5 ms-auto">
                        <div class="card w-75">
                            <div class="card-body">
                              {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                              <p class="card-text">
                                <img src="{% static "core/img/Form_Solicitar_reserva.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-auto me-3">
                        <div class="card w-90">
                            <div class="card-body">
                              <h5 class="card-title">Descripcion Formulario para solicitar reserva de espacio común</h5>
                              <p class="card-text">Este fomurlario contiene los campos necesarios y obligatorios para soliictar la reserva de un espacio común, al no completar todos los campos, el formulario no permitirá generar la solicitud.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-5 ms-auto">
                        <div class="card w-75">
                            <div class="card-body">
                              {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                              <p class="card-text">
                                <img src="{% static "core/img/Exportables.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-auto me-3">
                        <div class="card w-90">
                            <div class="card-body">
                              <h5 class="card-title">Descripcion botones para exportar información</h5>
                              <p class="card-text">Al dar clic sobre uno de estos botones, el sistema descargará automaticamente un archivo según el botón precionado, la información que contendrá dicho archivo, será la misma que es visualizada en la tabla al momento de dar clic sobre el botón.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-5 ms-auto">
                        <div class="card w-75">
                            <div class="card-body">
                              {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                              <p class="card-text">
                                <img src="{% static "core/img/Tabla_Solicitud_reservas.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-auto me-3">
                        <div class="card w-90">
                            <div class="card-body">
                              <h5 class="card-title">Descripcion Tabla de solicitudes</h5>
                              <p class="card-text">En esta tabla podrás ver todas las solicitudes que has realizado para hacer usos de los espacios comunes, considerando la opción de editar la solicitud o cancelarla.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </body>

    {% comment %} <!-- ----------------------- -->
    <!-- Footer -->
    {% include 'Footer.html'%}
    <!-- Footer FIN--> {% endcomment %}

    <!-- Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <!-- DataTable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>
    <!-- FUNCION Descarga -->
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>
    <!-- FUNCION dataTable -->

    <script src="{% static 'core/js/modal.js'%}"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                ],
                dom: 'Bfrtip',
                buttons: [
                    'copy',
                    'csv',
                    'excel',
                    'pdf',
                    {
                        extend: 'print',
                        text: 'Imprimir pantalla',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    }
                ],

                // responsive: {
                //     details: {
                //         display: $.fn.dataTable.Responsive.display.modal({
                //             header: function (row) {
                //                 var data = row.data();
                //                 return 'Details for ' + data[0] + ' ' + data[1];
                //             }
                //         }),
                //         renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                //     }
                // },
                select: false,
                pageLength: 5,
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Ningún usuario encontrado",
                    info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Ningún usuario encontrado",
                    infoFiltered: "(filtrados desde _MAX_ registros totales)",
                    search: "Buscar:",
                    loadingRecords: "Cargando...",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    }
                },
            });

            responsive: true
            autoWidth: false
            paging: false
        });


    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}

</body>


</html>