<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5, user-scalable=yes">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/whatsapp.css' %}">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-X8TZRa0FSGLAtvBlTsQ05mC6h54gXP+2i2+kl3DVoQeTQuu/dxU0Fjlzv8QqXdQ4"
        crossorigin="anonymous"></script>
        <title>Panel Administración</title>

    {% block content %}
    {% include 'nav_bar.html'%}
    {% endblock %}

    <style>
      /* Configuración de altura fija para el contenedor del carrusel */
      .carousel-inner {
          height: 300px; /* Ajusta esta altura según lo que necesites */
          overflow: hidden; /* Previene que las imágenes grandes empujen el contenido */
      }
  
      /* Ajuste de las imágenes dentro del carrusel */
      .carousel-inner img {
          width: 100%;
          height: 50%;
          object-fit: cover; /* Hace que las imágenes rellenen el contenedor sin cambiar su proporción */
      }
  
      /* Otros estilos previos */
      body {
          background-image: url("{% static 'core/img/Condominio2.jpg'%}");
          background-repeat: no-repeat;
          background-size: cover;
          padding-top: 70px;
          overflow-x: hidden;
      }
  
      .carousel-container {
          width: 40%;
          margin: 0 auto;
      }
  
      @media (max-width: 768px) {
          .carousel-container {
              width: 100%;
          }
      }
  
      /* Asegura que el carrusel esté centrado */
      #carouselExampleDark {
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
      }

      .carousel-image {
        width: 100%;              /* La imagen ocupa el ancho completo del contenedor */
        height: 100%;             /* La imagen ocupa toda la altura del contenedor */
        object-fit: cover;        /* La imagen se ajusta sin deformarse */
        object-position: top;  /* Ajusta la posición de la imagen */
    }

    .carousel-caption {
      background-color: rgba(246, 246, 129); /* Fondo azul con más opacidad */
       color: dark !important;                 /* Texto blanco con !important */
      padding: 10px;
      border-radius: 8px;
      text-align: center;                      /* Centra el texto */
  }
  
  .carousel-caption h5, .carousel-caption p {
      color: dark !important;                 /* Aplica blanco también a h5 y p dentro de la leyenda */
  }
  </style>
  
</head>

<body>

  <!-- Botón de ayuda -->
  <div class="row">
    <div class="col-md-12">
        <div class="container my-3 bg-dark text-white rounded-3">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text-light fs-3 mb-0 mx-auto text-center">Bienvenido a tu Portal
                    {{user.username}}
                    
                </p>
                <i class="fas fa-question-circle" style="color: white; font-size: 28px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#helpModal"></i>
            </div>
        </div>
    </div>

    {% comment %} <div class="col-md-1">    
        <div class="d-flex justify-content-end align-items-center h-100">
            <div style="padding-right: 20px;"> <!-- Ajusta el padding según sea necesario -->
                <i class="fas fa-question-circle" style="color: black; font-size: 28px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#helpModal"></i>
            </div>
        </div>
    </div> {% endcomment %}
</div>
<hr>

  <!-- Carrusel -->
  <div class="container my-3 bg-primary text-white rounded-3">
    <div class="d-flex justify-content-between align-items-center">
        <p class="text-light fs-5 mb-0 text-center">Noticias de la comunidad</p>
        
    </div>
  </div>
  <div class="container mt-3">
    <!-- Carrusel -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            {% comment %} <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> {% endcomment %}
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static "core/img/NuevoEspacio1.png" %}" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Primavera = Paseos por el parque</h5>
                  <p>Disfruta de nuestros espacios abiertos</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static "core/img/NuevoEspacio3.png" %}" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Nuevo espacio de Quinchos</h5>
                  <p>Vuelve el verano y con ello los espacios abiertos!</p>
                </div>

              </div>
              <div class="carousel-item">
                <img src="{% static "core/img/NuevoEspacio2.png" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>¡Volvio la temporada de piscina!</h5>
                  <p>Recuerda que nuestro condominio dispone de piscina en el piso 25</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  
    <!-- Tarjetas -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded-4">
          <div class="card-body text-center">
            <i class="fa-solid fa-building fa-4x"></i>
            <h4 class="card-text mt-3">Reservar Espacios Comunes</h4>
            <p class="card-text">
              <a href="{% url 'res_espacios_comunes' %}" class="btn btn-outline-light btn-sm ms-auto">Ver Información</a>
            </p>
          </div>
        </div>
      </div>
     <div class="col-md-4">
        <div class="card bg-secondary text-white rounded-4">
          <div class="card-body text-center">
            <i class="fa-solid fa-user fa-4x"></i>
            <h4 class="card-text mt-3">Ver mi Perfil</h4>
            <p class="card-text">
              <a href="{% url 'perfil' %}" class="btn btn-outline-light btn-sm ms-auto">Ver Información</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success text-white rounded-4">
          <div class="card-body text-center">
            <i class="fa-solid fa-wallet fa-4x"></i>
            <h4 class="card-text mt-3">Pagos</h4>
            <p class="card-text">
              <a href="{% url 'seleccion_pago' %}" class="btn btn-outline-light btn-sm ms-auto">Ver Información</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="whatsapp-button" class="whatsapp-float">
    <a href="https://api.whatsapp.com/send?phone=56949052463&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Risi.cl." class="floatWapp" target="_blank">
      <img src="{% static 'core/img/WhatsApp.svg.webp' %}" alt="Chatea con nosotros" class="whatsapp-icon">
      
    </a>
    <button class="close-btn" onclick="closeWhatsAppButton()">×</button>
  </div>  
  
  
  <!-- Modal de ayuda -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header bg-primary text-white"> <!-- Cambia bg-primary por el color que desees -->
              <h5 class="modal-title text-center" id="helpModalLabel">
                  <i class="fa-solid fa-users-gear me-2"></i> Fun Ayuda - Descripcion de cada tarjeta
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-5 ms-auto">
                      <div class="card w-75">
                          <div class="card-body">
                            {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                            <p class="card-text">
                              <img src="{% static "core/img/Noticias_comunidad.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 ms-auto me-3">
                      <div class="card w-90">
                          <div class="card-body">
                            <h5 class="card-title">Descripcion Carrusel de noticias</h5>
                            <p class="card-text">En esta sección, los administardores del sistemas permiten que visualices información importante para la comunidad a objeto que siempre tengas conocimiento de los acontencimientos de tu residencia.</p>
                          </div>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-5 ms-auto">
                      <div class="card w-75">
                          <div class="card-body">
                            {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                            <p class="card-text">
                              <img src="{% static "core/img/Reservar_Espacios.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 ms-auto me-3">
                      <div class="card w-90">
                          <div class="card-body">
                            <h5 class="card-title">Descripcion Tarjeta Reservar espacios comunes</h5>
                            <p class="card-text">Al dar clic sobre esta tarjeta en ver información, el sistema te dirigirá a la vista donde podrás visualizar los espacios comunes que has reservado, para que puedas cancelar o editar la reserva. También permite crear nuevas reservas de espacios cunes. Po último, podras descargar la información de las reservas realizadas.</p>
                          </div>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-5 ms-auto">
                      <div class="card w-75">
                          <div class="card-body">
                            {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                            <p class="card-text">
                              <img src="{% static "core/img/Ver_perfil.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 ms-auto me-3">
                      <div class="card w-90">
                          <div class="card-body">
                            <h5 class="card-title">Descripcion Tarjeta Ver perfil</h5>
                            <p class="card-text">Al dar clic sobre esta tarjeta en ver información, el sistema te dirigirá a la vista donde podrás visualizara los datos de tú perfil a objeto que puedas modificar cierta información relevante para tu reconocimiento frente a la comunidad.</p>
                          </div>
                      </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-5 ms-auto">
                      <div class="card w-75">
                          <div class="card-body">
                            {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
                            <p class="card-text">
                              <img src="{% static "core/img/Pagar.png" %}" alt="Descripción de la imagen" class="img-fluid rounded shadow mx-auto d-block" />
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 ms-auto me-3">
                      <div class="card w-90">
                          <div class="card-body">
                            <h5 class="card-title">Descripcion Tarjeta Pagas Gastos comunes</h5>
                            <p class="card-text">Al dar clic sobre esta tarjeta en ver informació, el sistema te dirigirá a la vista donde podrás visualizar las deudas que tienes con respecto a gastos comunes o multas. También, descargar la información que ves por pantalla.</p>
                          </div>
                      </div>
                  </div>
                </div>
                
          </div>
          
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
  <script src="{% static 'core/js/whatsapp.js' %}"></script>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })
</script>
{% endfor %}
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</html>
